$maxSpacing: 50;
$spacing: 4px;

@function size($i) {
    @return $i * $spacing;
}

@for $i from 0 through $maxSpacing {
    .pd-#{$i} {
        padding: size($i);
    }
    .pd-l-#{$i} {
        padding-left: size($i);
    }
    .pd-r-#{$i} {
        padding-right: size($i);
    }
    .pd-t-#{$i} {
        padding-top: size($i);
    }
    .pd-b-#{$i} {
        padding-bottom: size($i);
    }
    .pd-h-#{$i} {
        padding-right: size($i);
        padding-left: size($i);
        &-i {
            padding-right: size($i) !important;
            padding-left: size($i) !important;
        }
    }
    .pd-v-#{$i} {
        padding-top: size($i);
        padding-bottom: size($i);
    }
}

@for $i from 0 through $maxSpacing {
    .mg-#{$i} {
        margin: size($i);
    }
    .mg-l-#{$i} {
        margin-left: size($i);
    }
    .mg-r-#{$i} {
        margin-right: size($i);
    }
    .mg-t-#{$i} {
        margin-top: size($i);
    }
    .mg-b-#{$i} {
        margin-bottom: size($i);
    }
    .mg-h-#{$i} {
        margin-right: size($i);
        margin-left: size($i);
    }
    .mg-v-#{$i} {
        margin-top: size($i);
        margin-bottom: size($i);
    }
    .mg-b-child-#{$i} {
        & > *:not(:last-child) {
            margin-bottom: size($i);
        }
    }
    .mg-t-child-#{$i} {
        & > *:not(:first-child) {
            margin-top: size($i);
        }
    }
    .gap-#{$i} {
        gap: $i * 2px;
    }
    .row-gap-#{$i} {
        row-gap: $i * 2px;
        &-i {
            row-gap: $i * 2px !important;
        }
    }
    .column-gap-#{$i} {
        column-gap: $i * 2px;
        &-i {
            column-gap: $i * 2px !important;
        }
    }
    .let-space-#{$i} {
        letter-spacing: $i * 1px;
        &-i {
            letter-spacing: $i * 1px;
        }
    }
}

.mg-h-auto {
    margin-right: auto;
    margin-left: auto;
}

.mg-t-auto {
    margin-top: auto;
}

.pd-v-page {
    padding-top: size(12);
    padding-bottom: size(12);
    @include max(md) {
        padding-top: size(9);
        padding-bottom: size(9);
    }
    @include max(sm) {
        padding-top: size(5);
        padding-bottom: size(5);
    }
}
