.table {
    width: 100%;
    // text-align: center;
    color: #393939;
    border-collapse: collapse;
    &__table-thead {
        text-align: left;
        color: black;
        border-bottom: 1px #707070 solid;
    }
    &__table-row {
        border-bottom: 1px #707070 solid;
    }
    &__td {
        padding: 16px;
    }
    &__center {
        text-align: center;
    }
    &__th {
        padding: 16px;
        font-weight: bold;
    }
    & .post-actions {
        border: none;
        column-gap: 26px;
    }
    & .post-actions button:not(:last-child) {
        border: none;
    }
}
