.localized-button {
    border: 1px solid $jungleGreen;
    cursor: pointer;
    &--hollow {
        color: $jungleGreen;
        background-color: transparent;
    }
    &--filled {
        color: $white;
        background-color: $jungleGreen;
    }
    &--danger {
        color: $zest;
        background-color: transparent;
        border-color: $silver;
    }
    &--small {
        border-radius: size(1.5);
        width: size(22);
        padding: size(1) 0;
    }
    &--medium {
        border-radius: size(2);
        width: size(35);
        padding: size(1.5) 0;
    }
    &--large {
        border-radius: size(2);
        width: size(50);
        padding: size(2) 0;
    }
    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
    &--icon {
        display: flex;
        align-items: center;
        gap: size(5);
        padding-left: size(5);
        svg {
            flex-shrink: 0;
            width: size(4);
            path {
                fill: $white;
            }
        }
    }
}

